<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="meskobot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import meskobot urdf file -->
    <xacro:include filename="$(find mesko_hardware)/urdf/meskobot.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="meskobot.ros2_control.xacro" />


    <xacro:meskobot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
